# Re: GitHub Packages #828505
on:
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        registry: [docker.pkg.github.com, ghcr.io]

    runs-on: ubuntu-latest

    env:
      PULL_IMAGE: 's390x/bash:4.4'
      PUSH_IMAGE: '${{ matrix.registry }}/${{ github.repository }}/test:latest'

    steps:
      - run: docker login https://${{ matrix.registry }} -u token -p ${{ secrets.PACKAGES_TOKEN }}
      - run: docker pull ${{ env.PULL_IMAGE }}
      - run: docker tag ${{ env.PULL_IMAGE }} ${{ env.PUSH_IMAGE }}
      - run: docker push ${{ env.PUSH_IMAGE }}
